* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body,
input,
button,
ul,
li {
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    gap: 2px;
}

/* HEADER LAYOUT */
.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.searchbar {
    grid-column: 1 / 3;
    padding: 10px 5rem;
}

.searchbar img {
    position: relative;
    height: 2rem;
    top: 7px;
    right: 10px;
}

input[type="search"] {
    font-size: 1.3rem;
    background-color: rgb(255, 255, 150, 0.65);
    width: 70%;
    border: 2px solid black;
    border-radius: 10px;
}

.header button {
    background-color: rgba(128, 0, 0, 0.85);
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0 1em;
    margin-left: 1rem;
}

.info {
    grid-column: 3 / 4;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.info div {
   display: flex;
   padding: 5px;
   font-weight: bold;
}

.info #icon {
    height: 2rem;
}

.info button{
    background-color: white;
    border: 0;
    margin: 0;
    padding: 5px;
}
.info #pic {
    height: 4rem;
    width: 4rem;
    border: 1px solid black;
    border-radius: 50%;
}

.welcome {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
}

.buttons {
    grid-row: 2 / 4;
}

/* SIDEBAR LAYOUT */
.sidebar {
    grid-row: 1 / 3;
    background-color: rgba(128, 0, 0, 0.85);
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    gap: 50px;
    text-align: center;
    justify-content: start;
}

.sidebar div {
    padding: 1rem 4rem;
    font-size: 2rem;
    font-weight: bolder;
}

.sidebar ul {
    list-style-type: none;
    display: grid;
    align-content: start;
}

li {
    padding: .5rem 3rem;
    text-align: start;
}

.sidebar img {
    position: relative;
    height: 1.5rem;
    top: 5px;
    right: 10px;
}

#main-icon {
    position: relative;
    top: 12px;
    right: 10px;
    height: 3rem;
    width: 3rem;
}

.sidebar button {
    background-color: rgba(128, 0, 0, 0);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: .5em;
}

button:hover {
    cursor: pointer;
}

button:active {
    font-weight: bolder;
}

/* MAIN CONTENT LAYOUT */
.main-content {
    grid-column: 2 / 3;
    background-color: rgb(255, 255, 150, 0.65);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / 3;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.announcement-container {
    display: grid;
}

.trending-container {
    display: grid;
}